# Week 1- Python Basics

In [1]:
# print a message
print("Hello world") # print statement is the output statement of python

Hello world

In [2]:
# This is a single line comment
print("this is a single line commment")

'''this is an example for a multi-line 
comment
'''
print('''This is second statement
- multi line''')

this is a single line commment
This is second statement
- multi line

# variables and data types

In [3]:
# Demonstrate variables and data types
x = 10 # the value 10 stored at memory location x. x is called a variable
print ( "The value of x is",x)
print("The data type of this varriable is",type(x))

The value of x is 10
The data type of this varriable is <class 'int'>

In [4]:
x = 20.786
print("the new value of x is",x)
print("data type is",type(x))

the new value of x is 20.786
data type is <class 'float'>

In [5]:
x = 5+3j
print("the new value of x is",x)
print ("data type is",type(x))

the new value of x is (5+3j)
data type is <class 'complex'>

# strings

In [6]:
# string with single qoute
str1 = 'Welcome to python programming'
print(str1)

Welcome to python programming

In [7]:
# with double qoute
str2 = "Welome to python programming"
print(str2)

Welome to python programming

In [8]:
# with multi linw
str3 = ''' 
        welcome to python
            programming'''
print(str3)
print ('''the data type of str1, str2 and str3 are ''',type(str))

        welcome to python
            programming
the data type of str1, str2 and str3 are  <class 'type'>

# Bool data types

In [9]:
flag = True
print('the value of flag is',flag)
print("the data type is",type(flag))

the value of flag is True
the data type is <class 'bool'>

In [10]:
flag = False
print ('the changed value of flag is', flag)

the changed value of flag is False

## Arithemetic operators

In [11]:
x = 10
print("The value of x is ",x)

x = x+2
print ("the value of x after adding 2 is",x)

The value of x is  10
the value of x after adding 2 is 12

In [12]:
y = 3
z = x-y
print ("value of z=",z)
print ("data type is",type(z))

value of z= 9
data type is <class 'int'>

In [13]:
y = y*2
print("the new value of y=",y)

the new value of y= 6

In [14]:
z=x/5
print ("the new value of z is",z)
print ("data type is",type(z))

the new value of z is 2.4
data type is <class 'float'>

In [15]:
y = x//5 # integer division
print("the integer value of y is",y)
print("data type is",type(y))

the integer value of y is 2
data type is <class 'int'>

In [16]:
x = 13
z=x % 2 #the modulo operator
print("modulo is reminder, z=",z)

modulo is reminder, z= 1

In [17]:
# exponentiation operator
x=2
y=3
z=x**y
print("the resultant z is",z)

the resultant z is 8

In [18]:
# expressions
a + b # a and b called operants, + is binary operator

NameError: name 'a' is not defined

# unary operator

## PEMDAS Rule : paranthesis, exponent. multi and div, add and sub

In [19]:
x=10
y= -x
print ('x=',x,'y=',y)

x= 10 y= -10

In [20]:
x=10
y=20
z=30
res = x**2/y+z
print('the result is',res)

the result is 35.0

## Assignment operators : =,+=,-=,/=,*=,//=,%=,**=

In [21]:
# Example
x=2
y=x
print(y)

2

In [22]:
x+=3 # x+= means x= x=3
print(x)

5

In [23]:
x*=4
print(x)

20

In [24]:
x**=2
print(x)

400

In [25]:
x/=40
print(x)

10.0

In [26]:
x//=3
print(x)

3.0

In [28]:
x= 17
x%=5
print(x)

2

## Input() statement

In [30]:
str1= input('Enter your name :')
print("hello",str1)

Enter your name :Hussain
hello Hussain

In [3]:
# sum of two numbers
num1 = int(input("Enter the fisrt number :"))
num2 =int (input("Enter the second number:"))
res= num1+num2
print("sum the of the given numbers are",res)

Enter the fisrt number :10
Enter the second number:20
sum the of the given numbers are 30

In [5]:
# Area and cicumference of circle
radius = float(input('Enter the radius of circle : '))
area = 3.14*radius**2
circum = 2*3.14*radius
print("Area =",area,"circuference=",circum)

Enter the radius of circle : 3
Area = 28.26 circuference= 18.84

In [6]:
# various operations on string, once defined can only be rewriiten fully
# it cannot be partially changed
str1= "apple is good"
str2 = "but mango is tasty"
print(str1 + str2)
print(str1+ ' '+ str2 )

apple is goodbut mango is tasty
apple is good but mango is tasty

In [19]:
print(str1.upper())
print(str1)
str3 = str1.upper()
str4 = str1.title()
str5 = str1.split()
print(str3,' ',str4,' ',str5)
str6 = str1.lstrip('a')
print(str6)
print(str1.rstrip("d"))

APPLE IS GOOD
apple is good
APPLE IS GOOD   Apple Is Good   ['apple', 'is', 'good']
pple is good
apple is goo

In [29]:
#operation on string
print(str2)
print(str2.islower())
print(str2.isupper())
print(str2.istitle())
print(str2.isdigit())
print("The string2 starts with but", str2.startswith("but"))
print("the string2 ends with tasty",str2.endswith('tasty'))

but mango is tasty
True
False
False
False
The string2 starts with but True
the string2 ends with tasty True

In [30]:
print (len(str1),len(str2))

13 18

In [38]:
str7 = str1+","+str2
print(str7)
print(str7[::-1])
print(str7[::2])
print(str7[3:10])
print(str7[12])
print(str7.replace('is','was'))

apple is good,but mango is tasty
ytsat si ognam tub,doog si elppa
apei odbtmnoi at
le is g
d
apple was good,but mango was tasty

In [43]:
str8 = "Hello world"
for i in str8:
    print(i)

H
e
l
l
o

w
o
r
l
d

In [44]:
for i in enumerate(str8):
    print(i)

(0, 'H')
(1, 'e')
(2, 'l')
(3, 'l')
(4, 'o')
(5, ' ')
(6, 'w')
(7, 'o')
(8, 'r')
(9, 'l')
(10, 'd')

## strings

In [58]:
# Assecing a subset of charactor
str1 = "banana"
print(str1)
print ("the third charactor is",str1[4])
print(str1[0:4])
print(str1[:3])
print(str1[3:])
print(str1[:])

banana
the third charactor is n
bana
ban
ana
banana

In [60]:
#Repeat
str2="Hello world"
print(str2*5)

Hello worldHello worldHello worldHello worldHello world

In [6]:
# split
str_1= "welcome, to the exciting world, python programming"
print('the original string is',str_1)
print('the split using comma:',str_1.split(','))
print('the split using space:',str_1.split(' '))

the original string is welcome, to the exciting world, python programming
the split using comma: ['welcome', ' to the exciting world', ' python programming']
the split using space: ['welcome,', 'to', 'the', 'exciting', 'world,', 'python', 'programming']

In [16]:
# count opreration
str_2 = "welcome to the exciting world python programming"
print('The number of letter m in the str_2 is',str_2.count('m'))

# Replace operation
print(str_2.replace(' ','*'))
print(str_2.replace('python','R'))

#find operation
print(str_2.find('the'))
print(str_2.find('bye'))

The number of letter m in the str_2 is 3
welcome*to*the*exciting*world*python*programming
welcome to the exciting world R programming
11
-1

In [27]:
# string comparison
str1 = 'hussain'
str2 = 'abi'
print(str1==str2)
print(str1!=str2)

False
True

In [31]:
# startswith operation
print('str1 starts with H ',str1.startswith('h'))

# endswith operation
print('str1 ends with i ',str1.endswith('i'))

str1 starts with H  True
str1 ends with i  False

In [35]:
# istitle operation
print(str1.istitle())

#islower , isupper operation

print(str1.islower())
print(str1.isupper())

False
True
False

In [38]:
# isalpha, isnum, isalpnum

print(str1.isalpha())

# convert to upper or lower
print(str1.upper())

True
HUSSAIN

In [1]:
# convert to title
str10 = "good morning"
print(str10.title())

Good Morning

In [5]:
# swap case
str11 = "Good Morning"
print(str11.swapcase())

gOOD mORNING

In [7]:
# strip function
str12= "   hello world   "
print(str12)
print(str12.strip())

   hello world
hello world

## conditional statements

### Relational operators
### <,>,<=,>=,==,!=

In [12]:
a=10
b=20
print('a greaterthan b:',a>b)
print("a less than b", a<b)
print("a equal b",a==b)

a greaterthan b: False
a less than b True
a equal b False

# logical operators and,or,not

In [5]:
a= 10
b=20
c=30
print(a>b or a<b)
print(a<b and a>c)
print(not(a>b))

True
False
True

In [9]:
# check whether a number possitive or -ve

x = int(input('Enter an intiger:'))
if x > 0:
    print(x,'is possitive')
    print("program completed")
if x < 0:
    print(x,'is negative')
    print("program completed")

Enter an intiger:3
3 is possitive
program completed

In [7]:
x = int(input('Enter a non zero intiger:'))
if x > 0:
    print(x,'is possitive')
    print("program completed")
else:
    print(x,'is negative')
    print('program completed')

Enter a non zero intiger:-3
-3 is negative
program completed

In [14]:
# check even or odd
y=int(input("Enter a posstive intiger: "))
if y % 2 == 0:
    print(y,"is even number")
else:
    print(y,'is odd')

Enter a posstive intiger: 55
55 is odd